.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore raw and compiled files and plots that contain individual expert estimates
exp*.csv
!exp00.csv
Estimates_clean.csv
Estimates_tidy.csv
Estimates_wide.csv
exp*.pdf
old
